{{#if addNewThread}}
<h1>New Thread</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="heading">Thread Heading</label>
        {{input value=heading id="heading" class="form-control"}}
      </div>

      <div class="form-group">
        <label for="content">Content:</label>
        {{input value=content id="content" class="form-control"}}
      </div>

      <div class="form-group">
        <label for="author">Author:</label>
        {{input value=author id="author" class="form-control"}}
      </div>


      <button type="button" class="btn btn-success" {{action 'saveThread'}}>Save</button>
    </form>
  </div>
{{else}}
  <button type="button" class="btn btn-success" {{action 'threadFormShow'}}><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Thread</button>
{{/if}}
