{{#if editTopicForm}}
<div class="modal edit-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Edit</h3> <br><p>{{topic.title}}</p>
      </div>
      <div class="modal-body">
      <div class="edit">
        <form>
          <div class="form-group">
            <label for="title">Topic Title: </label>
            {{input value=title id="title" placeholder=topic.title}}
          </div>
          <div class="form-group">
            <label for="details">Details: </label>
            {{textarea value=details id="details" placeholder=topic.details}}
          </div>
          <button type="button" class="btn btn-outline btn-primary" data-dismiss="modal" {{action 'edit' topic}}>Save</button>
        </form>
      </div>
      </div>
    </div>
  </div>
</div>
  {{else}}
  <button type="button" class="btn btn-default btn-edit" data-toggle='modal' data-target=".edit-modal" {{action 'editTopicForm'}}><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit Topic</button>
{{/if}}
