<li>
  <h3>{{response.label}}</h3>
  <p>{{response.text}}</p>
  <p>{{response.visitor}}</p>
</li>
<div class="btn-group" role="group" aria-label="Basic example">
  {{edit-response response=response editResponse="editResponse"}}
  <button class="btn btn-sm btn-delete"{{action 'delete' response}}><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
</div>
<hr>
