<div>
  <h3>{{thread.heading}} | {{totalResoponses}} responses</h3>
  <p>From: {{thread.author}}</p>
  <p>{{thread.content}}</p>
  <img src="{{thread.image}}" alt="this is a makeup image">

  {{thread-popularity thread}}
  <button class="btn btn-default" {{action 'addToFav' thread}}><span class="glyphicon glyphicon-heart"></span> </button>

  {{edit-thread thread=thread editThread="editThread"}}

  <button {{action 'deleteThread' thread}} class="btn btn-danger">Delete</button>
</div>
<hr>
