<div class="thread-group">

  <div class="questionTile">
    <div class="topic-title">
      {{thread-popularity thread}}
      <h3>{{thread.heading}}</h3>
    </div>
    <div class="topic-description">
      <p>From: {{thread.author}}</p>
      <p>{{thread.content}}</p>
      <p>{{thread.image}}</p>

      <div class="btn-group" role="group" aria-label="Basic example">
        {{edit-thread thread=thread editThread="editThread"}}
        <button type="button" class="btn btn-sm btn-delete" {{action 'deleteThread' thread}}><span class="glyphicon glyphicon-remove"></span></button>
        <button type="button" class="btn btn-sm btn-add" {{action 'addToFav' thread}}><span class="glyphicon glyphicon-heart"></span> </button>
      </div>
    </div>
  </div>
</div>
