
<div class="hexagon">
  <div class="topic-header">
    <h2 class="full-topic">{{model.heading}} {{model.content}}:</h2>
    <h4>{{model.image}}</h4>
  </div>
</div>


<h2>Responses</h2>
{{add-response saveResponse="saveResponse" thread=model}}
<hr>
<ul class="bullets">
  {{#each model.responses as |response|}}
    {{response-tile response=response editResponse="editResponse" destroyResponse="destroyResponse"}}
  {{/each}}
</ul>
