{{#link-to 'index'}}<span class="glyphicon glyphicon-chevron-left"></span>Back{{/link-to}}
<div class="hexagon">
  <div class="topic-header">
    <h2 class="full-topic">{{model.heading}} {{model.content}}:</h2>
  </div>
</div>
<div class="image">
  {{model.image}}
</div>



<h2>Responses</h2>
{{add-response saveResponse="saveResponse" thread=model}}
<hr>
<ul class="bullets">
  {{#each model.responses as |response|}}
    {{response-tile response=response editResponse="editResponse" destroyResponse="destroyResponse"}}
  {{/each}}
</ul>
