<div class="hexagon">
  <div class="topic-header">
    <p class="info">More information about {{model.title}}'s</p> <p class="full-topic"> {{model.details}}</p>
    {{topic-detail topic=model destroyTopic="destroyTopic"}}
  </div>
</div>





<h2 class="topic-title">Threads</h2>


<ul>
  {{#each model.threads as |thread|}}
    {{#link-to 'thread' thread.id}}{{thread-tile thread=thread editThread="editThread" destroyThread="destroyThread"}}{{/link-to}}
  {{/each}}
</ul>

{{add-thread saveThread="saveThread" topic=model}}
