<div class="hexagon">
  <div class="topic-header">
    <p class="info">More information about</p> <p class="full-topic">{{model.title}}'s {{model.details}}</p>
  </div>
</div>



{{topic-detail topic=model destroyTopic="destroyTopic"}}

<h2>Threads</h2>


<ul>
  {{#each model.threads as |thread|}}
    {{#link-to 'thread' thread.id}}{{thread-tile thread=thread editThread="editThread" destroyThread="destroyThread"}}{{/link-to}}
  {{/each}}
</ul>

{{add-thread saveThread="saveThread" topic=model}}
